<div class="">
  <div class="row m-2">
    <div class="col-lg-3 mt-2">
      <div class="list-group" id="list-tab" role="tablist">
        <a
          class="list-group-item list-group-item-action active"
          id="list-home-list"
          data-toggle="list"
          href="#list-home"
          role="tab"
          aria-controls="home"
        >Home</a>
        <a
          class="list-group-item list-group-item-action"
          id="list-profile-list"
          data-toggle="list"
          href="#list-profile"
          role="tab"
          aria-controls="profile"
        >Profile</a>
        <a
          class="list-group-item list-group-item-action"
          id="list-messages-list"
          data-toggle="list"
          href="#list-messages"
          role="tab"
          aria-controls="messages"
        >Messages</a>
        <a
          class="list-group-item list-group-item-action"
          id="list-settings-list"
          data-toggle="list"
          href="#list-settings"
          role="tab"
          aria-controls="settings"
        >Settings</a>
      </div>
    </div>
    <div class="col-lg-9">
      <div class="row">

        {{#each book}}
          <div class="mt-2" style="max-width: 24%; min-width:24%">
            <div
              class="card"
              style="
                     height: 100%;
                     width: 100%"
            >
              <a href="/books/{{this.slug}}">
                <img
                  class="card-img-top"
                  src={{this.image}}
                  alt="Card image cap"
                  style="
                        min-height: 14rem; padding-bottom: inherit;"
                />
              </a>
              <div class="card-body" style="position: relative;">

                <h5 class="card-title"><a
                    href="/books/{{this.slug}}"
                    style="text-decoration: none;"
                  >{{this.title}}</a></h5>
                <p
                  class="card-text"
                  style="padding-bottom: inherit;"
                >{{this.description}}</p>

                <a
                  href="#"
                  class="btn btn-primary"
                  style="position: absolute;
                         bottom: 0;
                         left: 0;
                         right: 0;
                         border-top-left-radius: 0;
                         border-top-right-radius: 0;"
                >Buy</a>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
</div>