<form
  style="min-height: 500px"
  method="POST"
  action="/books/handle-form-actions"
>
  <div class="m-4">
    <h1>My Books</h1>
    {{#if deletedBook}}
    <a href="/me/trash/books" style="text-decoration: none"
      ><h2>Trash ({{deletedBook}})</h2></a
    >
    {{/if}}
  </div>

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="checkbox-all"
      />
      <label class="form-check-label" for="checkbox-all"> Check All </label>
    </div>

    <select
      class="form-control form-control-sm"
      name="action"
      required="true"
      style="width: 127px; margin: 0 4px"
    >
      <option value="">--Choose action--</option>
      <option value="delete">Delete</option>
    </select>

    <button class="btn btn-sm btn-primary check-all-submit-btn disabled">
      Submit
    </button>
  </div>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Time</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
      <tr>
        <td>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="bookIds[]"
              value="{{this._id}}"
            />
          </div>
        </td>
        <th scope="row">{{sum @index 1}}</th>
        <td>
          <a href="/books/{{this.slug}}" style="text-decoration: none"
            >{{this.title}}</a
          >
        </td>
        <td>{{this.type}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a
            href="/books/{{this._id}}/edit"
            class="btn btn-primary"
            style="text-decoration: none"
            >Sua</a
          >
        </td>
        <td>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="modal"
            data-target="#deleteBookModal"
            data-id="{{this._id}}"
          >
            Delete
          </button>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          There are no books yet.
          <a class="btn btn-primary" href="/books/create">Create Book</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>
<!-- Modal -->
<div
  class="modal fade"
  id="deleteBookModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Delete Book</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>Do you want to delete this book?</h2>
      </div>
      <div class="modal-footer">
        <button id="btnDeleteBook" type="button" class="btn btn-outline-danger">
          Delete
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<form name="deleteBookForm" method="POST"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    let bookId
    const deleteForm = document.forms['deleteBookForm']
    const btnDeleteBook = document.getElementById('btnDeleteBook')
    const checkBoxAll = $('#checkbox-all')
    const bookItemCheckbox = $('input[name ="bookIds[]"]')
    const checkAllSubmitBtn = $('.check-all-submit-btn')

    $('#deleteBookModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      bookId = button.data('id')
    })

    btnDeleteBook.onclick = () => {
      deleteForm.action = '/books/' + bookId + '?_method=DELETE'
      deleteForm.submit()
    }

    checkBoxAll.change(function () {
      var isCheckedAll = $(this).prop('checked')
      bookItemCheckbox.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })

    //Book Item checkbox change
    bookItemCheckbox.change(function () {
      const isCheckedAll =
        bookItemCheckbox.length === $('input[name ="bookIds[]"]:checked').length
      checkBoxAll.prop('checked', isCheckedAll)
      renderCheckAllSubmitBtn()
    })

    const renderCheckAllSubmitBtn = function () {
      const checkedCount = $('input[name ="bookIds[]"]:checked').length
      checkedCount > 0
        ? checkAllSubmitBtn.removeClass('disabled')
        : checkAllSubmitBtn.addClass('disabled')
    }
  })
</script>
